<div class="modal fade" id="modalMovimentacao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Movimentação</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="tipo" class="col-lg-2 control-label">Tipo</label>
                        <div class="col-lg-10">
                            <select class="form-control" data-ng-model="movimentacao.tipo">
                                <option value="D">Despesa</option>
                                <option value="R">Receita</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="descricao" class="col-lg-2 control-label">Descrição</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="descricao" placeholder="Descrição" data-ng-model="movimentacao.descricao">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="data" class="col-lg-2 control-label">Data</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="data" placeholder="Data" data-ng-model="movimentacao.data">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="valor" class="col-lg-2 control-label">Valor</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="valor" placeholder="Valor" data-ng-model="movimentacao.valor" conversor-moeda>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" data-ng-click="salvar()">Salvar</button>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary glyphicon glyphicon-plus" data-ng-click="novo()">Novo</button>

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="mov in movimentacoes">
            <td>
                <span class="glyphicon glyphicon-plus" data-ng-show="mov.tipo == 'R'"></span>
                <span class="glyphicon glyphicon-minus" data-ng-show="mov.tipo == 'D'"></span>
            </td>
            <td>{{mov.descricao}}</td>
            <td>{{mov.valor | moeda}}</td>
            <td>{{mov.data}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" style="text-align: right;font-weight: bold;">Receitas</td>
            <td>{{totalReceitas | moeda}}</td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: right;font-weight: bold;">Despesas</td>
            <td>{{totalDespesas | moeda}}</td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: right; font-weight: bold;">Total</td>
            <td>{{total | moeda}}</td>
        </tr>
    </tfoot>
</table>
